* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #dcdcdc;
  display: flex;
  justify-content: center;
  padding: 40px 15px;
}

.resume {
  background: #ffffff;
  width: 800px;
  max-width: 100%; 
  padding: 40px 60px 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* Header */
header {
  text-align: center;
  margin-bottom: 15px;
}

header h1 {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #333;
}

.role {
  margin-top: 5px;
  font-size: 15px;
  color: #666;
}

/* .contact {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 13px;
  color: #555;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact-item svg {
  width: 14px;
  height: 14px;
  fill: #444;
} */

.contact {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  margin-bottom: 8px;
  font-size: 13px;
  color: #555;
}

.contact-item svg {
  width: 14px;
  height: 14px;
  fill: #444;
} 


/* Sections */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
  padding-bottom: 6px;
  color: #333;
}

section p {
  font-size: 13px;
  color: #555;
  line-height: 1.6;
}

/* Items */
.item {
  margin-bottom: 18px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #444;
}

.item h3 {
  font-size: 14px;
  font-weight: 550;
  margin: 5px 0;
  color: #444;
}

/* Skills */
.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills ul {
  list-style: disc;
  padding-left: 18px;
  font-size: 13px;
  color: #444;
}

.skills li{
    margin-bottom: 8px;
}

.bottom-bar {
  height: 15px;
  background: #5e5e5e;
  margin-top: 30px;
}

